fastapi
uvicorn
python-multipart
python-dotenv
pydantic
langchain
langchain-chroma
langchain-groq
langchain-huggingface
langchain-google-genai
langgraph
torch
unstructured
IPython
pdfminer.six>=20220101,<20240101
pi-heif
unstructured-inference
pdf2image
nltk
PyPDF2 
